<!DOCTYPE html>
<html lang="en">
<%- include('common/head', { subtitle: 'Result' }); -%>
<body class="vh-100 flex flex-column">
	<div class="box p-4">
		<%
			var message, content;
			switch (result) {

				case 0:
				message = 'Success';
				content = `Short URL : `;
				break;
				
				case 1:
				message = 'Fail';
				content = 'Need another hash to save the URL.';
				break;
				
				default:
				message = 'Error';
				content = 'Unexpected error!';
				break;
			}
		%>
		<h1><%= message %></h1>
		<div class="flex flex-wrap justify-content-start">
			<span class="mr-2"><%= content %></span>
			<% if (path != null) { %>
				<a id="shortened" class="mr-2"></a>
				<button class="button button-small button-reversal mb-0 copy2clipboard" data-clipboard-target="#shortened">Copy</button>
			<% } %>
		</div>
		<a href="/" class="button mt-4">Back to uuuurl</a>
	</div>

	<% if (path != null) { %>
		<script>
			var a = document.getElementById('shortened');
			var path = location.origin + '<%- path -%>';
			
			a.innerHTML = path;
			a.setAttribute('href', path);
		</script>
		<%- include('common/script'); -%>
	<% } %>
</body>
</html>